#display {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#productImage {
	height: 250px;
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	float: left;
}

#productDescription {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 20px;
	display: inline-block;
	font-size: 19px;
}

#descriptionTable td {
	width: 150px;
}

#introducebook{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 2px;
	margin-bottom: 20px;
	display: inline-block;
	font-size: 19px;
}

#addToCart button, #BuyDirect button{
	margin-bottom: 20px;
  	color: white;
  	border: none;
	font-size: 30px; 
	padding: 10px 10px;
	width : 60%;
	cursor: pointer;
	border-radius: 5px;
}

#addToCart button{
	margin-top: 80px;
	background-color: #3A78D4; 
}

#BuyDirect button{
	background-color: #3A4FD4; 
}