<!DOCTYPE html>
<html>

<head>
    <title>View Profile</title>
</head>

<body>
    <h2>個人資料</h2>
    <ul>
        <li>Email: {{ profileData[1] }}</li>
        <li>First Name: {{ profileData[2] }}</li>
        <li>Last Name: {{ profileData[3] }}</li>
        <li>Address: {{ profileData[4] }} {{ profileData[5] }}</li>
        <li>Zipcode: {{ profileData[6] }}</li>
        <li>City: {{ profileData[7] }}</li>
        <li>State: {{ profileData[8] }}</li>
        <li>Country: {{ profileData[9] }}</li>
        <li>Phone: {{ profileData[10] }}</li>
    </ul>
    <a href="/account/profile">返回會員中心</a>
</body>

</html>